/*@font-face {
    font-family: tafelschrift;
    src: url('tafelschrift.TTF') format('truetype');
}*/

body {
	background-image: url("/images/Chalkboard-background.jpg");
  background-size: cover;
}

.navbar-inner {
    background:transparent;
}

/*centering navbar*/
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}

h1.header {
    font-family: cursive;
    color: white;
}
